.animaltableview .content {
    background-image: url('../img/animaldashboard-image.svg')!important;
}
.animaltableview table {
    /* width: 80%; */
    margin-left: 20rem;
    background-color: #B9B9B9;
}
.animaltableview table th {
    color: #000000;
}

.animaltableview h1 {
    color: #000000;
}

.animaltableview .search {
    margin-left: 55rem;
}

.animaltableview .search input, .animaltableview .search button {
    border: none;
    border-radius: 15px;
    padding-left: 1rem;
}

.animaltableview .search button {
    margin-left: 1rem;
    width: 10rem;
    background-color: rgb(46, 45, 45);
    color: #ffffff;
    height: 2rem;
}